<nav style="margin-top: 0%;" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img  src="/assets/img/tuvisaLogogrande.png"  width = "250" height = "100"  alt="Servicio de Gestión de Visas para EEUU logo" >
          
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Proceso" target="_self">Proceso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Tarifas" target="_self">Tarifas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Iniciar" target="_self">Iniciar Tramite</a>
              </li>
              
              
              <li class="nav-item">
                <a class="nav-link" href="contacto.html" target="_blank">Contacto</a>
              </li>
              <li class="nav-item">
                <a style="font-weight: bold;color: rgb(49, 82, 228);" class="nav-link" href="preguntas-frecuentes.html" target="_blank">Preguntas Frecuentes</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Solicitud
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="https://forms.gle/KX86vMEtGqTgKfJNA" target="_blank" download="Manual De Autoayuda PyoneroSoft">Formulario Visa</a></li>
                  
                </ul>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>

